name: Build and Export Docker Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the Docker image
        # No --push here, just build locally on the runner
        run: docker build -t wattpad-downloader:latest .

      - name: Check Image Size
        run: |
          echo "=========================================="
          echo "FINAL IMAGE SIZE:"
          docker images wattpad-downloader:latest --format "{{.Size}}"
          echo "=========================================="

      - name: Save Docker image to file
        # Exports the image from Docker's internal storage to a .tar file
        # Pipe through gzip to make the download smaller.
        run: docker save wattpad-downloader:latest | gzip > wattpad-downloader.tar.gz

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: docker-image
          path: wattpad-downloader.tar.gz
          retention-days: 1 # Keeps storage usage low on GitHub side
